@media only screen and (max-width:450px) {
  
  body{}
  
  .iphone2{
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 15% 0 17% 0;
    background: #333;
	overflow-y:auto;
  }
  
  .head{
	      color: #777;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    background: #323232;
    z-index: 11;
    padding: 15px 30;
	color:#fff !important
  }
  
  .head p{
	  font-size: 1rem;
    text-align: center;
    width: 90%;
    float: left;
    color: fff;
    margin: 5px 0px;
	display:block;
  }
  
  .like-ico{margin: 24px 15px 0px 0px;}
  
  .talk{display:none;}
  
  .music{height: 60px;background:#333;border-top: 1px solid #666;}
  
  .music-name{margin: 7px 0 0 0;}
  
  .music-name p{color:#fff;}
  
  .music-img{margin: 10px 10px;width: 40px;height: 40px;}
  
  .jp-seek-bar{bottom: 60px;}
  
  .jp-controls a{color:#fff;    border: 1px solid #fff;}
  
  .musici{color:#fff}
  
  .music-ico{    padding: 20px 0 0px 20px;}

  .iphone1,.iphone3{display:none;}
  

  
  .like-card{height: 80px;    background: #666;color: #fff;}
  
  .Relax{padding: 20px;}
  
  .id-title{    background: #666;}
  
  .id-title span{color:#fff;}
  
  .lolid-card{height:auto;    background: #666;color: #fff;}
  
  .user-mes{margin: 10px 0;}
  
  .lolid{padding: 1% 5%;}
  
  .photo{padding: 5% 5% 3.5% 5%;}
  
  .photo-s{z-index: 1;}
  
  .like-font p,.lolid p{font-size: 1rem;line-height: 1.5rem;color:#fff;}
  
  .like-font {padding: 15px 0 10px 10px;}
  
  .user-name,.like-font{font-size: 0.8rem;line-height: 1.9rem;}
  
  .id-title span{font-size: 0.8rem;}
  
  .photo-s,.user-img,.user-img img{width: 60px;height: 60px;}
  
  .jp-audio{
	width: 100%;
    left: 0;
    position: fixed;
    bottom: 0;
	}
  
  
  
}

@media screen and (min-width: 600px) { 

	.abtu{height:16.8%}
	
	.abtu-bottom{display:none;}

}